[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesanova"]
	path = bayesanova
	url = https://github.com/cran/bayesanova
[submodule "bayest"]
	path = bayest
	url = https://github.com/cran/bayest
[submodule "brada"]
	path = brada
	url = https://github.com/cran/brada
[submodule "fbst"]
	path = fbst
	url = https://github.com/cran/fbst
